
:root {
    font-family: 'Roboto', sans-serif;
    --blue-col: rgb(48, 142, 185);
    --border-pastel: rgb(163,184,206);
    --border-pastel-dark: rgb(64, 99, 136);
    --marin-blue: #0067a8;
    --marin-blue-og: rgb(103, 168, 186);
    --marin-blue-dark: rgb(34, 78, 90);
    --grey-nav: rgb(112, 112, 112);
    --green-nav: rgb(23, 124, 124);
    --or-nav: rgb(124, 61, 19);
    --team-grey: rgb(199, 199, 199);
    --team-out: rgb(230, 230, 230);
    --team-out2: rgb(230, 230, 230);
    --photo-past : rgb(240, 240, 240);
    --photo-txt: rgb(255, 255, 255);
    --zar-logo-purp: rgb(153,40,119);
}

*, *::before, *::after {box-sizing: border box}

* {scroll-behavior: smooth;}

html {min-width: 300px;}

.br {border: 1px solid black;}



/* ZAR header.......................... */
/* .................................... */


header {
    text-align: center;
}

.zar-container, .hamburger-menu-cont {
    display: inline-block;
}

.hamburger-menu-cont {display: none;}

.material-icons.ham-menu { 
    color: black;
    font-size: 48px;
    vertical-align: middle;
}

.zar-logo, .zar-divider, .zar-description {
    display: inline-block;
    vertical-align: middle;
}

.zar-logo {
    font-family: 'Noto Serif Display', serif;
    font-size: 3.4rem;

}

.zar-description, ul.main-nav {
    font-family: 'Abel', sans-serif;
}

.zar-divider {
    margin: .5rem;
}

.grad-logo {
    background: #992877;
    background: -webkit-linear-gradient(to right, #992877 24%, #008080 50%, #413480 100%);
    background: -moz-linear-gradient(to right, #992877 24%, #008080 50%, #413480 100%);
    background: linear-gradient(to right, #992877 24%, #008080 50%, #413480 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


/* main navigation....................... */


.main-nav a, .main-nav a:focus {
    text-decoration: none;
    color: black;
}

nav {
    margin-bottom: 1rem;
    text-align: center;
}

ul.main-nav {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
}

ul.main-nav > * {
    display: inline-block;
    font-size: 1.2rem;
    text-transform: uppercase;
    padding: .5em 1em;
}


/* hamburger toggle */


.nav-toggle:checked ~ nav {
    transform: scale(1, 1);
}

.nav-toggle:checked ~ nav a {
    opacity: 1;
    transition: opacity 100ms ease-in-out 80ms;
}

.nav-toggle {display: none;}


/* MAIN PAGE.............................. */
/* ....................................... */


main {
    overflow: hidden;
}


/* shared parts................. */


.bold-ft {font-weight: bold;}
.blue-col {color: var(--border-pastel-dark)}

.promo-quality p, .promo-offer-head p, .gallery-head p, .promo-focus p, .team-head p, .promo-reliability p  {
    margin: 0;
}

.promo-quality, .promo-offer-head, .promo-reliability, .promo-focus, .team-head {
    text-align: center;
    border-radius: 15px;
    font-size: 1.6rem;
    background-color: rgba(255, 255, 255, 0.836);
    border: 3px solid var(--border-pastel-dark);
    padding: .5em 1em;
}

.promo-quality, .promo-focus, .promo-reliability {
    padding: 1em;
}

.promo-offer-head, .gallery-head, .team-head {
    font-size: 2rem;
    box-shadow: 1px 1px 30px rgba(35, 68, 139, 0.267);
}

.promo-quality, .promo-focus {
    font-size: 2.5rem;
}

.flex-offer, .flex-focus {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 60%;
}


/* [WE ARE AS SMALL COMPANY].............. */


.promo-quality-cont {
    height: 35rem;
    background-image: url(img/3paints.jpg);
    background-size: cover;
    text-align: right;
    margin-left: 2rem;
    border-top-left-radius: 600px;
}

.promo-quality {
    display: inline-block;
    max-width: 30rem;
    background-color: rgba(255, 255, 255, 0.795);
    border: 1px solid rgb(230, 230, 230);
    text-align: right;
    margin-top: 5.5rem;
}

.grad {
    background: #5E0D2B;
    background: -webkit-linear-gradient(to right, #5E0D2B 0%, #000000 100%);
    background: -moz-linear-gradient(to right, #5E0D2B 0%, #000000 100%);
    background: linear-gradient(to right, #5E0D2B 0%, #000000 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.grad2 {
    background: #741e5a;
    background: -webkit-linear-gradient(to right, #741e5a 0%, #000000 100%);
    background: -moz-linear-gradient(to right, #741e5a 0%, #000000 100%);
    background: linear-gradient(to right, #741e5a 0%, #000000 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.grad3 {
    background: rgb(41, 62, 85);
    background: -webkit-linear-gradient(to right, rgb(41, 62, 85) 0%, #000000 100%);
    background: -moz-linear-gradient(to right, rgb(41, 62, 85) 0%, #000000 100%);
    background: linear-gradient(to right, rgb(41, 62, 85) 0%, #000000 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


/* [SPECIALIZE IN].................. */


.promo-offer-cont {
    position: relative;
    height: 35rem;
    border: var(--border-pastel) 2rem solid;
    background-image: url(img/wall.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

.flex-offer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 60%;
}

.promo-offer-head {
    margin-top: 1rem;
    margin-bottom: 1rem;
    max-width: 23rem;
}

.promo-offer-menu {
    text-align: center;
    margin: 1rem 1.6rem;
}

.menu-item {
    max-width: 20rem;
    padding: .7em;
    margin: .5rem;
    font-size: 1.6rem;
    background-color: var(--border-pastel-dark);
    color: white;
}


/* [PHOTO]...................... */


.photo-gal-cont {
    text-align: center;
    height: 52rem;
    padding-top: 3rem;
    padding-bottom: 2.5rem;
    background-color: var(--border-pastel);
}

.gallery-head-cont, .flex-photo-cont, .flex-photo-cont-630 {
    padding: 1.5em;
}

#gallery-head__cont, #team-head__cont {
    position: relative;
    z-index: 100;
    display: inline-block;
    border: 1px solid var(--photo-past);
    border-radius: 110px;
    margin-top: 2rem;
    margin-bottom: 2.5rem;
    padding: 2rem;
    width: 7rem;
    height: 7rem;
}

#gallery-head__cont {
    margin-bottom: 3.5rem;
}

.gallery-head, .team-head {
    display: inline-block;
    padding: 0;
    border: none;
    box-shadow: none;
    border-bottom: 1px solid var(--photo-past);
    border-radius: 0;
    background-color: none;
}


#gal-icon, #group-icon {
    font-size: 4rem;
    background-color: none;
    color: var(--photo-past);
}

.gal-text, .team-text {
    font-size: 2rem;
    margin-top: .7rem;
    color: rgb(84, 90, 100)
}


.flex-photo-cont, .flex-photo-cont-630 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 36rem;
    padding-top: 0;
}

.flex-photo-cont-630 {display: none;}

.photos {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.photo-direct {
    position: relative;
    border: 10px solid rgb(255, 255, 255);
    z-index: 10;
}

.photo-slider {
    width: 100%;
    height: auto;
    object-fit: contain;
    max-height: 30rem;
    box-shadow: 1px 1px 60px rgba(69, 90, 109, 0.438);
}

.photos-control {
    position: relative;
    padding: 2em;
    text-align: center;
}

button.arrow-left, button.arrow-right, button.arrow-right-630, button.arrow-left-630 {
    border: none;
    background: none;
    z-index: 11;
    cursor: pointer;
}

button.arrow-right-630, button.arrow-left-630 {
    display: none;
}

.material-icons.text-center {
    text-align: center;
}

.kidn-png-cont {
    position: relative;
    top: -26rem;
    right: -8rem;
}

.kidn-png {
    width: 50rem;
    transform: rotate(30deg);
}


/* [THE MAIN FOCUS].......................... */


.divider {
    position: relative;
    top: -5rem;
    height: 5rem;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%, rgba(243,243,243,1) 243%);
}

.promo-focus-cont {
    display: flex;
    justify-content: right;
    position: relative;
    height: 45rem;
    background-image: url(img/wall22_2.png);
    background-size: cover;
}

.promo-focus {
    width: 70%;
    max-width: 30rem;
    color: white;
    background-color: unset;
    border: none;
    border-color:  var(--marin-blue-og);
    margin-bottom: 6rem;
}

.grad-focus {text-shadow: 1px 1px 5px rgb(35, 76, 110);}

.focus-txt-col {color: rgb(178, 240, 240);}


/* [TEAM]................................ */


#team-head__cont {
    border: 1px solid var(--team-out);
    margin-bottom: 6rem;
}

.team-text {
    color: rgb(16, 81, 107)
}

#group-icon {
    color: var(--team-grey);
}


/* > 630 */

.team-head {
    border-bottom: 1px solid var(--team-out);
}

.team-cont {
    width: 100%;
    max-width: 50rem;
    margin: 0 auto;
    text-align: center;
    margin-top: 0;
    margin-bottom: 7rem;
}

.team {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 1.2rem;
}

.zar-person {
    display: flex;
    column-gap: .5em;
    flex-direction: column;
    width: 25%;
    margin: 1em;
}

.zar-position {
    display: flex;
    justify-content: center;
    align-items: top;
    height: 3rem;
}

.zar-photo { 
    max-width: 125px;
    min-width: 100px;
    border-radius: 15px;
    padding: .3rem;
    outline: 1px solid var(--team-out);
}

.zar-person h3, .zar-person h4, .zar-person p {
    margin: .2em;
    padding: .2em;
}

.zar-p-description {
    text-align: justify;
}

/* < 630 */

.team-630 {display: none;}

.person-630 {
    display: flex;
    margin: 3em;
    margin-right: 1em;
    margin-top: 0;
}

.person-description-630-cont {
    margin: 1em;
    text-align: left;
    padding-left: 1em;
}

.zar-name-630, .zar-position-630 {
    margin: .5rem;
}


/* [relialabiity]................... */


.promo-reliability-cont {
    position: relative;
    border: rgb(150,203,193) 1.5rem solid;
    width: 80%;
    height: 25rem;
    margin: 0 auto;
    background-image: url(img/rla.png);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

.promo-reliability {
    display: flex;
    align-items: center;
    bottom: -3.5em;
    width: 50%;
    max-width: 40rem;
    min-height: 6rem;
    z-index: 1;
    border-color:rgb(150,203,193);
    font-size: 2rem;
}

.smuga {
    width: 50%;
    max-width: 30rem;
    bottom: -10em;
}

.promo-reliability, .smuga {
    position: absolute;
    margin-right: auto;
    margin-left: auto;
    left: 0;
    right: 0;
}


/* [contact]................... */


.contact-cont {
    margin-top: 10rem;
    text-align: center;
}

.contact-cont p {
    color: coral;
    font-size: 2rem;
    font-weight: bold;
    margin: .7em;
    margin-bottom: 2em;
}

.contact-item-container {
    background-color: coral;
    border-radius: 15px;
    width: 70%;
    max-width: 40rem;
    margin: 0 auto;
}

.contact-item-container p {
    display: flow-root;
    font-size: 1.1rem;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: rgb(146, 59, 19);
    padding-top: 1em;

    margin: 0;
}

.contact-item-flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 1.5rem;
    color: rgb(146, 59, 19);
}

.contact-item {
    display: flex;
    flex-direction: column;
    padding: 1em;
    font-weight: bold;
    width: 30%;
}

.material-icons.md-60 {font-size: 60px;}


.material-icons {
    color: white;
}

.my-builder-logo-cont {
    margin: 1em;
    padding-bottom: 1em;
}

.my-builder-logo {width: 160px;}


/* FOOTER......................... */

footer {
    color: rgb(218, 218, 218);
    margin: 2em;
    text-align: center;
}


/* PULL BACK NAV.................... */


.pull-back {
    display: inline-block;
    position: fixed;
    right: 0;
    bottom: 0;
    margin: 1rem;
    z-index: 1000;
    transition: opacity .4s;
}

.pull-back span {
    font-size: 3rem;
    transform: rotate(90deg);
    color: var(--marin-blue);
    transition: color .4s;
}

.opa-1 {
    opacity: 1;
}

.opa-0 {
    opacity: 0;
}


/* MEDIA Q.................. */
/* ......................... */

/* 1500 */

@media only screen and (max-width: 1500px) {
    .promo-quality, .promo-focus {
        font-size: 2.2rem;
    }

    .promo-reliability {
        font-size: 2rem;
    }

    .promo-offer-head, .gallery-head, .team-head {
        font-size: 1.8rem;
    }

    .promo-focus {
        margin-right: 10rem;
    }

    .menu-item {
        font-size: 1.4rem;
    }

    .team {font-size: 1.1rem;}
}

/* 1220 */

@media only screen and (max-width: 1220px) {
    .smuga {width: 60%;}
}

/* 1065 */

@media only screen and (max-width: 1065px) {
    .promo-quality {
        font-size: 2rem;
    }

    .promo-quality {margin-top: 9rem;}

    .promo-reliability {font-size: 1.8rem;}

    .promo-offer-head, .gallery-head, .team-head {
        font-size: 1.6rem;
    }

    .menu-item {
        font-size: 1.2rem;
    }

    .team {font-size: 1rem;}

    .smuga {width: 80%;}
}

/* 960 */

@media only screen and (max-width: 960px) {
    .promo-reliability {
        width: 60%;
    }

    .flex-focus {width: 70%;}

    .promo-quality {
        font-size: 1.8rem;
    }

    .promo-focus {
        margin-right: 3.5rem;
    }
}

/* 830 */

@media only screen and (max-width: 830px) {

    .promo-focus {
        padding-left: .5em;
        padding-right: .5em; 
    }

    .flex-focus {
        align-items: flex-end;
        margin-right: 1rem;
    }

    .promo-reliability {
        width: 65%;
    }
}

/* 830 */

@media only screen and (max-width: 830px) {

    .flex-focus {
        margin-right: 0;
    }

}

/* 700 */

@media only screen and (max-width: 700px) {

    .promo-quality-cont {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .promo-quality {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 1.6rem;
        max-width: unset;
        width: 50%;
        height: 40%;
        margin: 0;
        margin-right: 2rem;
    }

    .promo-offer-menu, .promo-offer-head, .menu-item {
        margin: 0 auto;
        position: static;
    }

    .menu-item {
        margin-top: .5em;
    }

    .promo-offer-head {
        margin-top: 6rem;
        margin-bottom: 1.2rem;
    }

    .flex-offer {
        width: 100%;
    }

    .promo-offer-head {
        margin-top: 1rem;
    }

    .flex-focus {
        width: 100%;
        align-items: center;
    }

    .promo-focus-cont {
        background-image: url(img/wall3.png);
    }

    .promo-focus {
        width: 60%;
        margin-right: 0;
    }

    .zar-person {
        margin: .5em;
        width: unset;
    }

    .team {
        justify-content: center;
        margin: 0 2rem;
    }

    .contact-item {width: 50%;}

    /* .promo-offer-cont {
        background-image: url(img/wall_2.png);
    } */

}

/* 630 */

@media only screen and (max-width: 630px) {

    .team {display: none;}
    .team-630 {display: block;}

    .promo-quality, .promo-focus {width: 80%;}

    .promo-focus {
        font-size: 2rem;
    }

    .photos {width: 100%;}
    .arrow-right, .arrow-left {display: none;}

    .flex-photo-cont {
        padding-left: 0;
        padding-right: 0;
    }

    button.arrow-right-630, button.arrow-left-630 {
        display: block;
        position: absolute;
    }

    button.arrow-right-630 {right: 0;}
    button.arrow-left-630 {
        padding-left: 1rem;
        left: 0;
    }

    .material-icons.mi-shad {
        text-shadow: 1px 1px 10px rgb(83, 83, 83);
    }

    .flex-focus {margin-right: 0;}

    .promo-reliability {
        font-size: 1.6rem;
    }

    .mq-fix {display: block;}

    .contact-item-flex {
        flex-direction: column;
        align-items: center;
    }

    .contact-item {
        padding: .8rem;
        width: 80%;
    }

    .my-builder-logo {width: 130px;}
}

/* 500 */

@media only screen and (max-width: 500px) {

    .team {display: block;}
    .team-630 {display: none;}

    .zar-person {
        margin-bottom: 3rem;
    }

    .zar-p-description {
        width: 70%;
        align-self: center;
    }

    .promo-offer-head, .gallery-head, .team-head {
        font-size: 1.4rem;
    }

    .menu-item {font-size: 1.1rem;}

    .promo-quality {
        font-size: 1.5rem;
    }
  
    #gallery-head__cont, #team-head__cont {
        width: 6rem;
        height: 6rem;
    }    
     
    #gal-icon, #group-icon {
        font-size: 3rem;
    }
    
    .gal-text, .team-text {
        font-size: 1.7rem;
    }
  
}

/* 450 */

@media only screen and (max-width: 450px) {

    .hamburger-menu-cont {
        display: inline-block;
    }

    .main-nav-cont {
        position: absolute;
        text-align: right;
        right: 0;
        width: 100%;
        background: rgba(24, 69, 136, 0.13);

        margin-right: .5em;
        margin-left: .5em;

        transform: scale(1, 0);
        transform-origin: top;
        transition: transform 100ms ease-in-out;
    }

    label.hamburger-menu-cont {
        cursor: pointer;
    }

    .main-nav li {
        display: block;
        padding: .25em;
        padding-right: 1em;
    }

    .main-nav a {
        color: rgb(228, 233, 241);
        text-shadow: 1px 1px 4px black;
        opacity: 0;
    }

    .main-nav a:focus {
        color: rgb(205, 210, 219);
    }

    #zar {
        display: grid;
        grid-template-columns: 4fr 1fr;
        grid-template-rows: 1fr;
        align-items: center;
    }

    .zar-container {
        padding-left: .5em;
        justify-self: left;
    }

    .hamburger-menu-cont {
        padding-right: .5em;
        justify-self: right;
    }
}

/* 430 */

@media only screen and (max-width: 430px) {

    .promo-offer-cont {
        border: var(--border-pastel) 1rem solid;}

    .promo-quality-cont {
        margin-left: 1rem;
    }

    .promo-quality {
        margin-right: 1rem;
    }
}

/* 400 */

@media only screen and (max-width: 400px) {

    .zar-p-description {
        width: 100%;
    }

    .promo-offer-head, .menu-item {
        margin-left: .5rem;
        margin-right: .5rem;
    }
}

/* 370 */

@media only screen and (max-width: 370px) {

    .zar-description {
        font-size: 0.9rem;
    }

    .zar-divider {margin: .3rem;}

    .zar-logo {font-size: 2.9rem;}

    .material-icons.ham-menu { 
        font-size: 36px;
    }

    .promo-quality {
        font-size: 1.3rem;
    }

    .promo-focus {
        font-size: 1.7rem;
    }

    .promo-reliability {
        font-size: 1.4rem;
    }

    p.contact-look-forward {
        font-size: 1.7rem;
    }

    .contact-item-container p {
        font-size: .9rem;
    }

    .contact-item-flex {
        font-size: 1.4rem;
    }
}

/* 330 */

@media only screen and (max-width: 330px) {
    .team {
        margin: 1rem;
    }
}